body {
  color: var(--font-color);
  font-size: var(--font-size);
}

i {
  margin-right: 7px;
  color: var(--font-color);
  font-size: var(--font-size);
}

.panel {
  position: relative;
  overflow: hidden;
  width: var(--width);
  height: var(--height);
  margin: 0;
  background: var(--background-color);

  border:  var(--border-width) var(--border-style) var(--border-color);
  border-radius: var(--border-radius);
}

.slide {
  display: flex;
  position: absolute;
  width: inherit;
  height: inherit;
  align-items: center;
  justify-content: center;
  opacity: 0;
  animation: var(--slide-animation) calc(var(--num-of-slides) * var(--display-time)) ease infinite;
} 

